<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>REC Because world needs you!</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
        <div class="navbar navbar-expand-lg navbar-light bg-light foot-last">
            <div class="foot-logo">
                <img class="foot-img-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Rajalakshmi_Engineering_College_(REC)_Chennai_Logo.jpg"
                    alt="">
                <p class="paa">Copyright © Rajalakshmi Engineering College</p>
            </div>
            <div class="foot-logo">
                <b>Address:</b>
                <Address>Rajalakshmi Engineering College,
                    Rajalakshmi Nagar Thandalam, Chennai - 602 105.
                    Phone : +91-44-67181111, 67181112</Address>
                    <a href="https://www.facebook.com/myrecchennai"><b> <i class="bi bi-facebook"></i></b></a>
                    <a href="https://www.youtube.com/@myrecchennai" style="color: red;"><b> <i class="bi bi-youtube"></i></b></a>
                    <a href="" style="color:rgb(23, 187, 23);"><b> <i class="bi bi-whatsapp"></i></b></a>
                    <a href="https://in.linkedin.com/school/rajalakshmi-engineering-college/"><b> <i class="bi bi-linkedin" style="color: rgb(15, 48, 158);"></i></b></a>
                    <a href="https://twitter.com/myrecchennai"><b> <i class="bi bi-twitter" style="color: rgb(15, 48, 158);"></i></b></a>
            </div>
            <div class="foot-logo">
                <h5 class="foot-3">Approved & Affiliated By</h5>

               <div class="anna">
                <img class="foot-3 foot-img-1 anna"
                src="https://seeklogo.com/images/A/anna-university-logo-DFAA543EDF-seeklogo.com.png" alt="">
            <img class="foot-3 foot-img-1"
                src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Rajalakshmi_Engineering_College_(REC)_Chennai_Logo.jpg"
                alt="">
               </div>
            </div>
        </div>
      
    </body>
   


