<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<body>
   


    <!-- Department Toppers -->
<app-nav-staff></app-nav-staff>

    <div class="container">
        <h2>DEPARTMENT TOPPERS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/young-tender-curly-girl-holding-documents_176420-239.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img0"
                    alt="Aeronautical">
                  <h5 id="dept-name0"></h5>
                
                  <h5 id="dept-cgpa0"></h5>
                  <h5 id="dept0"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/premium-photo/young-asian-indian-student-with-glasses-backpack-holds-book-shows-thumbs-up_928503-89.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img1"
                    alt="Aeronautical">
                  <h5 id="dept-name1"></h5>
              
                  <h5 id="dept-cgpa1"></h5>
                  <h5 id="dept1"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/friendly-confident-woman-writing-her-organizer-isolated-white-wall_231208-1176.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img2"
                    alt="Aeronautical">
                  <h5 id="dept-name2"></h5>
                 
                  <h5 id="dept-cgpa2"></h5>
                  <h5 id="dept2"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/young-smiling-confident-woman-using-laptop-computer-looking-camera-isolated-white-background_231208-9497.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name3"></h5>
                 
                  <h5 id="dept-cgpa3"></h5>
                  <h5 id="dept3"></h5>
            </div>
          
        </div>
    </div>
    <div class="container">
        <h2>COLLEGE TOPPERS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/happy-student-with-graduation-hat-diploma-grey_231208-12979.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph"  class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name4"></h5>
                 
                  <h5 id="dept-cgpa4"></h5>
                  <h5 id="dept4"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/premium-photo/indian-female-college-student-university-girl-student-with-books-bag_466689-96774.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img2"
                alt="Aeronautical">
                  <h5 id="dept-name5"></h5>
                
                  <h5 id="dept-cgpa5"></h5>
                  <h5 id="dept5"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/front-view-male-student-wearing-black-backpack-holding-copybooks-files-blue-wall_140725-42636.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img1"
                alt="Aeronautical">
                    
                  <h5 id="dept-name6"></h5>
                 
                  <h5 id="dept-cgpa6"></h5>
                  <h5 id="dept6"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/smiley-woman-holding-book-front-view_23-2149915887.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name7"></h5>
                  
                  <h5 id="dept-cgpa7"></h5>
                  <h5 id="dept7"></h5>
            </div>
          
        </div>
    </div>
    <div class="container">
        <h2>UNIVERSITY TOPPERS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/front-view-female-student-red-shirt-with-backpack-holding-books-files-smiling-blue-wall_140725-38370.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name8"></h5>
                  
                  <h5 id="dept-cgpa8"></h5>
                  <h5 id="dept8"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/premium-photo/young-indian-college-boy-holding-backpack-books-giving-happy-expression_54391-7219.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name9"></h5>
                 
                  <h5 id="dept-cgpa9"></h5>
                  <h5 id="dept9"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/premium-photo/man-wearing-glasses-is-smiling-holding-tablet_905510-2118.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name10"></h5>
                
                  <h5 id="dept-cgpa10"></h5>
                  <h5 id="dept10"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/premium-photo/young-indian-college-girl-smiling_54391-7130.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name11"></h5>
                  
                  <h5 id="dept-cgpa11"></h5>
                  <h5 id="dept11"></h5>
            </div>
          
        </div>
    </div>
    <div class="container">
        <h2>SEMESTERS TOPPERS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/medium-shot-graduate-student_23-2148950577.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph"  class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name12"></h5>
                 
                  <h5 id="dept-cgpa12"></h5>
                  <h5 id="dept12"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/smiley-woman-wearing-glasses_23-2148487158.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph"  class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name13"></h5>

                  <h5 id="dept-cgpa13"></h5>
                  <h5 id="dept13"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/international-day-education-celebration_23-2150930948.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img2"
                    alt="Aeronautical">
                  <h5 id="dept-name14"></h5>
                 
                  <h5 id="dept-cgpa14"></h5>
                  <h5 id="dept14"></h5>
            </div>
            <div class="dep-cont">
                <img src="https://img.freepik.com/free-photo/front-view-smiley-man-holding-book_23-2149915900.jpg?size=626&ext=jpg&ga=GA1.1.1833767125.1707541012&semt=sph" class="dpt-img" id="dept-img3"
                    alt="Aeronautical">
                  <h5 id="dept-name15"></h5>
                
                  <h5 id="dept-cgpa15"></h5>
                  <h5 id="dept15"></h5>
            </div>
          
        </div>
    </div>

   
    
</body>

</html>