<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>


</body>

<app-nav-bar></app-nav-bar>
<div class="contact-us">
    <div class="module">
  
        <header>
          <h1>
            CONTACT US
          </h1>
        </header>
      </div>
   <div class="side2">
    <div class="admission">
        <h4>Administrative Office:</h4><br>
       
         <pre>
         # 69 New Avadi Road,
         Kilpauk, Chennai - 600 010.
         Phone : +91-44-26442472 / 26461316 / 26460124
         Fax : +91-44-26445151
         e-mail : cityoffice&commat;rajalakshmi.edu.in
         Website : www.rajalakshmi.org</pre>
       </div>
       <div class="college">
         <h4>College:</h4><br>
       
         <pre>
             # Rajalakshmi Nagar
             Thandalam, Chennai - 602 105.
             Phone : +91-44-67181111, 67181112
             e-mail : admin&commat;rajalakshmi.edu.in
             Website : www.rajalakshmi.org</pre>
       </div>
       <div class="social">
         <h4>Connect With Us:</h4><br>
         <a href="https://www.facebook.com/myrecchennai"><b> <i class="bi bi-facebook"></i></b></a>
         <a href="https://www.youtube.com/@myrecchennai" style="color: red;"><b> <i class="bi bi-youtube"></i></b></a>
         <a href="" style="color:rgb(23, 187, 23);"><b> <i class="bi bi-whatsapp"></i></b></a>
         <a href="https://in.linkedin.com/school/rajalakshmi-engineering-college/"><b> <i class="bi bi-linkedin" style="color: rgb(15, 48, 158);"></i></b></a>
         <a href="https://twitter.com/myrecchennai"><b> <i class="bi bi-twitter" style="color: rgb(15, 48, 158);"></i></b></a>
       </div>
   </div>

</div>



