<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>

   

</body>

<app-nav-bar></app-nav-bar>
<div class="main-img">
    <h1>ABOUT THE COLLEGE:</h1>
    <img src="https://www.rajalakshmi.org/image/banner-1.jpg" width="100%" height="auto" class="img-fluid clg-img"
        alt="...">
</div>

<div class="abt">
    <p>Rajalakshmi Engineering College, an autonomous institution affiliated to Anna University, Chennai,
        was <b> established in the year 1997</b> under the aegis of Rajalakshmi Educational Trust whose
        members have had consummate experience in the fields of education and industry. The College
        has grown from strength to strength in the <b>last 25 years</b> and progressing towards Excellence
        in Engineering Education, Research and Development.
    </p><br>
    <p>Ours is one among the few Colleges to receive accreditation for
        Under <b>Graduate Engineering programmes</b> from the <b>National Board of Accreditation (NBA)</b>, New Delhi,
        as soon as attaining the eligibility to apply for accreditation. The College is accredited by
        the <b>National Assessment and Accreditation Council (NAAC) with 'A++' Grade</b>. The college has also
       <b> secured 12(b)</b> status from UGC. Anna University, Chennai has granted Permanent Affiliation for 10
        UG courses viz. Aeronautical Engineering, Automobile Engineering, Biomedical Engineering, Biotechnology, Civil
        Engineering, Computer Science and Engineering, Electronics and Communication Engineering, Electrical and
        Electronics Engineering, Mechanical Engineering, Information Technology and <b>4 PG Courses viz</b>. M.Tech -
        Biotechnology,
        M.E. Computer Science and Engineering, M.E. Communication Systems and Master of Business Administration.</p>
    <br>
    <p>The Department of Scientific and Industrial Research <b> (DSIR)</b>, Government of India has recognized the College as a
        Scientific and Industrial Research Organization <b> (SIRO)</b>, considering its potential for Research and Development
        activities</p>

    <h5>Vision</h5><br>
    <p>To be an institution of excellence in Engineering, Technology and Management Education & Research. To provide
        competent and <b>ethical professionals with a concern for society</b>.</p><br>
    <h5>Mission</h5><br>
    <p>To impart quality technical education imbibed with <b>proficiency and humane values</b>.
        To provide right ambience and opportunities for the students to develop into creative, talented and globally
        competent professionals.
        To promote <b> research and development in technology</b> and management for the benefit of the society.
    </p>
</div>

<div class="abt1">
    <h3>Eligibility:</h3><br>
    <p>B.E. / B.Tech Programmes</p><br>
    <h5>HSC (Academic & Vocational) Candidates</h5><br>
    <b>The requirements for admission to B.E. / B.Tech. Programmes are :</b>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Category</th>
                <th scope="col">Minimum Pass Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Open</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>Backward</td>
                <td>45%</td>
            </tr>
            <tr>
                <td>Most Backward</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>SC/ST</td>
                <td>Just pass in the examination</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h5>Lateral Entry Candidates</h5><br>
    <p>Diploma Holders (various
        branches) are also eligible
        to II year of the four
        years B.E. / B.Tech Degree courses.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Category</th>
                <th scope="col">Minimum Pass Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Open</td>
                <td>50%</td>
            </tr>
            <tr>
                <td>Backward</td>
                <td>45%</td>
            </tr>
            <tr>
                <td>Most Backward</td>
                <td>40%</td>
            </tr>
            <tr>
                <td>SC/ST</td>
                <td>Just pass in the examination</td>
            </tr>
        </tbody>
    </table>
    <div class="placement">
        <h2>PLACEMENT:</h2><br>
       <p>We are colabratted with  <b>250+ MNC companys</b>. Our students work over top companys like <b>Amazon,Google,Tesla,Netflix,Zoho.</b></p>
       <p>Our Placement Percentage will be <b>88% in last 10 years</b>. Over <b>30,000 students are get job </b>Through our college. Last year <b>2545 students got offer</b> letters.</p><br>
       <h3>Objective</h3><br>
       <p>The objective of the Placement Centre is</p><br>
       <li>To provide job opportunities by bringing the companies for campus recruitment to all the eligible students of final year.</li><br>
       <li>To enhance current <b>technical and practical knowledge</b> of students</li><br>
       <li>To make the students <b>'PLUG & PLAY'</b> by imparting soft skills and employability skills.</li><br>
       <li>To have strong Industry-Institute Interaction.</li><br>
    </div>
    </div>
    <div class="container">
        <h2>DEPARTMENTS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Aeronautical-Engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Aeronautical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Automobile-Engineering.jpg"
                    alt="Aeronautical" class="dpt-img">
                <h5 class="dept-name">Automobile Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Biomedical.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Biomedical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Biotechnology.jpg"
                    alt="Aeronautical" class="dpt-img">
                <h5 class="dept-name">Biotechnology Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/chemical-engineering.jpg"
                    alt="Aeronautical" class="dpt-img">
                <h5 class="dept-name">chemical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Computer-Science.jpg"
                    alt="Aeronautical"class="dpt-img">
                <h5 class="dept-name">Computer Science and Engineering Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://icsdp.com/img/photo/1st.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Electrical and Electronics Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/ftbanner.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Food Technology</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Information-Technology.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Information Technology</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/mechtronics-engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name"> Mechatronics Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Mechanical-Engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Mechanical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/human-dept.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Department of Humanities & Sciencesg</h5>
            </div>
    
    
        </div>
    </div>




</html>
