
body {
    font-family: 'Roboto Condensed', sans-serif;
}



.clg-img {
    width: 70%;
    height: auto;
}

.main-img,
.abt,
.abt1,
.abt2 {
    margin: 4%;
}

h1,
h3,
h2 {
    color: rgb(139, 36, 235);
    font-family: 'Teko', sans-serif;
}

.table {
    width: fit-content;
}
.all-dept{
display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
}
.dpt-img {

    height: auto;
}

.dpt-img{
    width: fit-content;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.dpt-img:hover{

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 210px;
}
.dept-name{
    text-align: center;
}



.dept-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dept-card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



.dept-name{
    /* color: rgb(139, 36, 235); */
    font-family: 'Teko', sans-serif;
}