body {
    font-family: 'Roboto Condensed', sans-serif;
}


.log-reg {
    display: flex;
    text-align: center;
    margin-bottom: 3%;


}

.log {
    border: none;
    color: rgb(139, 36, 235);
    font-weight: 600;
}

.log:hover {
    background-color: rgb(139, 36, 235, .6);
    color: rgb(7, 7, 7);
    font-size: large;
    font-weight: 500;
}