<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>REC Because world needs you!</title>
    <style>
    

     
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <Header class="head">
        <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="https://rajalakshmi.org/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Rajalakshmi_Engineering_College_(REC)_Chennai_Logo.jpg"
                        alt="REC" width="70" height="24">
                    Rajalakshmi Engineering College
                </a>
                 
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav justify-content-end nav-info">
                    <li class="nav-item">
                        <a class="nav-link active nav-name" aria-current="page" routerLink="/home" routerLinkActive="text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active nav-name" aria-current="page" routerLink="/aboutUs" routerLinkActive="text-dark">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active nav-name" aria-current="page" routerLink="/gallery" routerLinkActive="text-dark">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active nav-name" aria-current="page" routerLink="/contactUs" routerLinkActive="text-dark">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active nav-name" aria-current="page" routerLink="/login"routerLinkActive="text-dark">LogIn</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </Header>

    <body>
        
    </body>
   

