<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

  
    <!-- Department -->
<app-nav-bar></app-nav-bar>

    <div class="container">
        <h2>DEPARTMENTS</h2>
        <div class="all-dept">
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Aeronautical-Engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Aeronautical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Automobile-Engineering.jpg" alt="Aeronautical"
                    class="dpt-img">
                <h5 class="dept-name">Automobile Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Biomedical.jpg" class="dpt-img" alt="Aeronautical">
                <h5 class="dept-name">Biomedical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Biotechnology.jpg" alt="Aeronautical" class="dpt-img">
                <h5 class="dept-name">Biotechnology Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/chemical-engineering.jpg" alt="Aeronautical"
                    class="dpt-img">
                <h5 class="dept-name">chemical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Computer-Science.jpg" alt="Aeronautical"
                    class="dpt-img">
                <h5 class="dept-name">Computer Science and Engineering Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://icsdp.com/img/photo/1st.jpg" class="dpt-img" alt="Aeronautical">
                <h5 class="dept-name">Electrical and Electronics Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/alumni/uploads/slides/U-1.jpg" class="dpt-img" alt="Aeronautical">
                <h5 class="dept-name">Food Technology</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Information-Technology.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Information Technology</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/mechtronics-engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name"> Mechatronics Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/Mechanical-Engineering.jpg" class="dpt-img"
                    alt="Aeronautical">
                <h5 class="dept-name">Mechanical Engineering</h5>
            </div>
            <div class="dep-cont">
                <img src="https://www.rajalakshmi.org/image/dept/human-dept.jpg" class="dpt-img" alt="Aeronautical">
                <h5 class="dept-name">Department of Humanities & Sciencesg</h5>
            </div>


        </div>
    </div>

    <div class="ifram-cont" >
        <iframe width="900" height="438" src="https://www.youtube.com/embed/ekLEvbFQ3ys" title="Open House 15 sec Promo"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div >
    <!-- events -->

    <div class="ma-event">
        <h2>EVENTS</h2>
        <div class="all-event">
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/recharge2k19-intercollegiate-cultural-event-11-03-2019.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name">Recharge 2k20</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/independence-day-celebrations-2019.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name">Independence Day Celebrations</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/recspo'20-sports-(men)-09-03-2020.jpg" alt="Aeronautical"
                    class="event-img">
                <h5 class="event-name">RECSPO'20 :: Sports (Men)</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/recspo'20-rec-sports-day-09-03-2020.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name">RECSPO'20</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/recspo'20-sports-(women)-09-03-2020.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name">RECSPO'20 :: Sports (Women)</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/engineers-day-project-expo-14-09-2019.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name"> Engineers Day</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/hackthrone.jpg" alt="Aeronautical" class="event-img">
                <h5 class="event-name">Hack4throne</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/Mobile-App-Garage-Contest.jpg" alt="Aeronautical"
                    class="event-img">
                <h5 class="event-name">Mobile App Garage Contest</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/Brithish-Council-CS-IT-Mission.jpg" alt="Aeronautical"
                    class="event-img">
                <h5 class="event-name"> Brithish Council's CS/IT Mission</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/rec-sports-day-2018.jpg" alt="Aeronautical"
                    class="event-img">
                <h5 class="event-name">REC Sports Day 2018</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/oracle-apex-student-workshop-05-10-2018.jpg"
                    alt="Aeronautical" class="event-img">
                <h5 class="event-name">Oracle APEX Student Workshop</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/autistic.jpg" alt="Aeronautical" class="event-img">
                <h5 class="event-name">Vocational training for the autistic</h5>
            </div>
        </div>
    </div>

    <div class="ifram-cont"> <iframe width="900" height="438" src="https://www.youtube.com/embed/jam0c4NLOvc"
            title="RECHARGE 2K19 Promo | Intercollegiate Cultural Fest | 11.03.2019" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe></div >

    <div class="ma-alu">
        <h2>ALUMINI</h2>
        <div class="all-alu">
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/rec-alumni-reunion-2019.jpg" alt="Aeronautical"
                    class="alu-img">
                <h5 class="event-name">REC Alumni Reunion</h5>
            </div>
            <div class="event-cont">
                <img src="https://rajalakshmi.org/image/events/alumni-meet.jpg" alt="Aeronautical" class="alu-img">
                <h5 class="event-name">REC Grand Alumni Reunion 2018</h5>
            </div>
            <div class="event-cont">
                <img src=" https://www.rajalakshmi.org/alumni/uploads/slides/G-1.jpg" alt="Aeronautical"
                    class="alu-img">
                <h5 class="event-name">REC Alumni Reunion & Graduation 2022</h5>
            </div>

        </div>
    </div>

   
</body>

</html>